.git
.gitignore
.github
node_modules
dist
build
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
README.md
.dockerignore
.env
.env.local
package-lock.json
yarn.lock
src
public
vite.config.ts
tsconfig.json
.gitattributes
